org_name: "awesome-codeship-org"
projects:
  - name: "repo_example_accounting"
    branch: "heads/master"
    uuid: "c620d030-dd31-..."
  - name: "repo_example_enterprise"
    branch: "heads/master"
     uuid: "c620d030-dd31-..."
  - name: "repo_example_test"
    branch: "heads/master"
     uuid: "c620d030-dd31-..."
  - name: "repo_example_core"
    branch: "heads/master"
     uuid: "c620d030-dd31-..."
  - name: "repo_example_home"
    branch: "heads/master"
     uuid: "c620d030-dd31-..."
  - name: "repo_example_Cloud"
    branch: "heads/master"
     uuid: "c620d030-dd31-..."